<div class="row">
    <div class="col-sm-4">
        <input (keyup)="filterBox($event)" class="form-control search-box" placeholder="{{'Categories.search'|translate}}...."
               type="text">
    </div>
</div>
<br/>
<table class="table table-bordered table-striped ">
    <thead>
    <tr>
        <th class="text-center ">
            {{"Categories.image"|translate}}
        </th>
        <th *ngFor="let col of cols" class="text-center clickable-th" (click)="orderBy(col)">
            <label>{{"Categories." + col|translate}}</label>
            <i [class]="'fa-sort fa '+ (orderDir[col]==0?'':orderDir[col]==-1?'fa-sort-desc' :'fa-sort-asc')"></i>
        </th>

        <th class="text-center ">
            {{"Categories.actions"|translate}}
        </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let category of categories">
        <tr>
            <td class="img-td"><img *ngIf="category.icon" class="cat-img" src="{{category.icon}}"></td>
            <td (click)="showSub(category)" *ngFor="let col of cols">
                {{c.formatDate(category[col])}}
            </td>
            <td class="actions-td">
                <!--<i class="ti-arrow-circle-right" [title]="'Categories.details'|translate" ></i>-->
                <i class="ti-settings" (click)="editCat(category)" [title]="'Categories.edit'|translate"></i>
                <i class="ti-trash" (click)="openModal(template,category)" [title]="'Categories.delete'|translate"></i>
            </td>
        </tr>
        <ng-container *ngFor="let subCat of subCategories">
          <tr *ngIf="subCat.visible&&subCat.parentId==category.id" [@enterAnimation]>
              <td colspan="8">
                    <table *ngIf="subCat.cols.length>0" class="width-100 table table-bordered table-striped ">
                        <thead>
                        <tr>
                            <th *ngFor="let col of subCat.cols" class="text-center">
                                <label>{{"Categories.sub." + col|translate}}</label>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let r of subCat.value">
                            <td *ngFor="let col of subCat.cols">
                                {{c.formatDate(r[col])}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <h3 class="text-center" *ngIf="subCat.cols.length==0">{{"Categories.NoDataFound"|translate}}</h3>
                </td>
            </tr>
        </ng-container>
    </ng-container>
    </tbody>
</table>
<!--<div class="row">-->
<!--<pagination [totalItems]="allClient.length" [itemsPerPage]="pages" previousText="<" nextText=">"-->
<!--[(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>-->
<!--<div class="per-page-sec">-->
<!--<span>{{"client.perPage"|translate}}</span>-->
<!--<input id="perpage" class="form-control" type="number" (change)="changepages($event)" [value]="pages">-->
<!--</div>-->

<!--</div>-->
<!--confirmation modal-->
<ng-template #template>
    <div class="modal-body text-center">
        <p>{{'system.modal.message'|translate}}</p>
        <button type="button" class="btn btn-danger modal-confirm"
                (click)="confirm()">{{'system.modal.confirm'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="decline()">{{'system.modal.cancel'|translate}}</button>
    </div>
</ng-template>
