<form class="ProductForm" [formGroup]="ProductForm" (ngSubmit)="onProductFormSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nameAr">{{"product.form.controls.prodName"|translate}}</label>
          <input type="text" formControlName="nameAr" class="form-control"
                 id="nameAr" placeholder="{{'product.form.placeholders.prodName'|translate}}">
          <label *ngIf="ProductForm.get('nameAr').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
          <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->
        </div>
        <div class="form-group">
          <label for="pack">{{"product.form.controls.pack"|translate}}</label>
          <input type="text" formControlName="pack" class="form-control"
                 id="pack" placeholder="{{'product.form.placeholders.pack'|translate}}">
          <label *ngIf="ProductForm.get('pack').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
          <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->

        </div>
        <div class="form-group">
          <label for="sku">{{"product.form.controls.sku"|translate}}</label>
          <input type="text" formControlName="sku" class="form-control"
                 id="sku" placeholder="{{'product.form.placeholders.sku'|translate}}">
          <label *ngIf="ProductForm.get('sku').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
          <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->

        </div>
        <div class="form-group">
          <label for="code">{{"product.form.controls.code"|translate}}</label>
          <input type="text" formControlName="code" class="form-control"
                 id="code" placeholder="{{'product.form.placeholders.code'|translate}}">
          <label *ngIf="ProductForm.get('code').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
          <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->

        </div>

        <div class="form-group">

          <label for="offers">{{'product.form.controls.offers'|translate}}</label>
          <ng-select id="offers" [options]="IOoffers" [multiple]="true" [(ngModel)]="offersIds" formControlName="offersIds" >
          </ng-select>

          <!--<select class="form-control" formControlName="offersIds" id="offers" [(ngModel)]="offersIds" multiple>-->
            <!--<option *ngFor="let option of alloffers" [value]="option.id">-->
              <!--{{option.nameAr}}-->
            <!--</option>-->
          <!--</select>-->
        </div>
        <div class="form-group">
          <label for="availableTo">{{'product.form.controls.availableTo'|translate}}</label>
          <select class="form-control" formControlName="availableTo" id="availableTo" [(ngModel)]="availableTo">
            <option *ngFor="let option of availableList" [value]="option">
              {{"product.form.controls."+option|translate}}
            </option>
          </select>

        </div>
        <div class="form-group">
          <label for="status">{{"product.form.controls.status"|translate}}</label>
          <select class="form-control" formControlName="status" id="status" [(ngModel)]="status">
            <option *ngFor="let option of allStatus" [value]="option">
              {{"product.form.controls."+option|translate}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="categories">{{'product.form.controls.cat'|translate}}</label>
          <select class="form-control" formControlName="categoryId" [(ngModel)]="categoryId" id="categories"
                  (change)="setCat($event)">
            <option style="display: none" value="" disabled selected></option>
            <option *ngFor="let cat of cats" [value]="cat.id">
              {{cat.titleAr}}
            </option>
          </select>
          <label *ngIf="ProductForm.get('categoryId').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>

        </div>
        <div *ngIf="categoryId!=''" class="form-group">
          <label for="subcategories">{{'product.form.controls.subcat'|translate}}</label>
          <select class="form-control" formControlName="subCategoryId" [(ngModel)]="subCategoryId" id="subcategories">
            <option style="display: none" value="" disabled selected></option>

            <option *ngFor="let cat of subcats" [value]="cat.id">
              {{cat.titleAr}}
            </option>
          </select>
          <label *ngIf="ProductForm.get('subCategoryId').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>

        </div>
        <div class="form-group">
          <label for="manufacturerId">{{'product.form.controls.man'|translate}}</label>
          <select class="form-control" formControlName="manufacturerId" id="manufacturerId" [(ngModel)]="manufacturerId">
            <option style="display: none" value="" disabled selected></option>

            <option *ngFor="let man of mans" [value]="man.id">
              {{man.nameAr}}
            </option>
          </select>
          <label *ngIf="ProductForm.get('manufacturerId').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>

        </div>
        <div class="form-group">
          <label for="tags">{{'product.form.controls.tags'|translate}}</label>

          <tag-input formControlName="tagsIds" id="tags" [(ngModel)]="tags"
                     [placeholder]="'product.form.placeholders.addTag'|translate"
                     [secondaryPlaceholder]="'product.form.placeholders.addTags'|translate"></tag-input>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-offset-3 img-uploader">
          <div id="preview">
            <img [src]="imgSrc" alt="">
          </div>
          <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
          <button type="button" class="select-file btn btn-success" (click)="fileInput.click()">
            {{'product.addImg'|translate}}
          </button>
          <br>
          <label *ngIf="imgBlankError" class="text-danger">{{'product.form.validations.imgBlank'|translate}}</label>

        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="marketOfficialPrice">{{"product.form.controls.marketOfficialPrice"|translate}}</label>
              <input type="number" formControlName="marketOfficialPrice" class="form-control"
                     id="marketOfficialPrice"
                     placeholder="{{'product.form.placeholders.marketOfficialPrice'|translate}}">
              <label *ngIf="ProductForm.get('marketOfficialPrice').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
              <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->
            </div>
            <div class="form-group">
              <label for="horecaPrice">{{"product.form.controls.horecaPrice"|translate}}</label>
              <input type="number" formControlName="horecaPrice" class="form-control"
                     id="horecaPrice" placeholder="{{'product.form.placeholders.horecaPrice'|translate}}">
              <label *ngIf="ProductForm.get('horecaPrice').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
              <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->
            </div>
            <div class="form-group">
              <label for="horecaPriceDiscount">{{"product.form.controls.horecaPriceDiscount"|translate}}</label>
              <input type="number" formControlName="horecaPriceDiscount" class="form-control"
                     id="horecaPriceDiscount"
                     placeholder="{{'product.form.placeholders.horecaPriceDiscount'|translate}}">
              <label *ngIf="ProductForm.get('horecaPriceDiscount').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
              <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->
            </div>

            <div class="form-group">
              <label for="wholeSaleMarketPrice">{{"product.form.controls.wholeSaleMarketPrice"|translate}}</label>
              <input type="number" formControlName="wholeSaleMarketPrice" class="form-control"
                     id="wholeSaleMarketPrice"
                     placeholder="{{'product.form.placeholders.wholeSaleMarketPrice'|translate}}">
              <label *ngIf="ProductForm.get('wholeSaleMarketPrice').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
              <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->
            </div>

          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="wholeSalePrice">{{"product.form.controls.wholeSalePrice"|translate}}</label>
              <input type="number" formControlName="wholeSalePrice" class="form-control"
                     id="wholeSalePrice" placeholder="{{'product.form.placeholders.wholeSalePrice'|translate}}">
              <label *ngIf="ProductForm.get('wholeSalePrice').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
              <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->
            </div>
            <div class="form-group">

              <label for="dockanBuyingPrice">{{"product.form.controls.dockanBuyingPrice"|translate}}</label>
              <input type="number" formControlName="dockanBuyingPrice" class="form-control"
                     id="dockanBuyingPrice" placeholder="{{'product.form.placeholders.dockanBuyingPrice'|translate}}">
              <label *ngIf="ProductForm.get('dockanBuyingPrice').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
              <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->

            </div>


            <div class="form-group">
              <label for="wholeSalePriceDiscount">{{"product.form.controls.wholeSalePriceDiscount"|translate}}</label>
              <input type="number" formControlName="wholeSalePriceDiscount" class="form-control"
                     id="wholeSalePriceDiscount"
                     placeholder="{{'product.form.placeholders.wholeSalePriceDiscount'|translate}}">
              <label *ngIf="ProductForm.get('wholeSalePriceDiscount').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>
              <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="offer">{{"product.form.controls.offer"|translate}}</label>
                  <br>
                  <label class="switch">
                    <input id="offer" formControlName="isOffer" [(ngModel)]="isOffer" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="isFeatured">{{"product.form.controls.featured"|translate}}</label>
                  <br>
                  <label class="switch">
                    <input id="isFeatured" formControlName="isFeatured" [(ngModel)]="isFeatured" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div *ngIf="isOffer" class="offer-things">
          <div class="form-group">
            <label for="offerSource">{{'product.form.controls.offerSource'|translate}}</label>
            <select class="form-control" formControlName="offerSource" id="offerSource" [(ngModel)]="offerSource">
              <option style="display: none" value="" disabled selected></option>
              <option *ngFor="let option of offerSourceList" [value]="option">
                {{"product.form.controls."+option|translate}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="offerMaxQuantity">{{"product.form.controls.offerMaxQuantity"|translate}}</label>
            <input type="number" formControlName="offerMaxQuantity" class="form-control"
                   id="offerMaxQuantity" placeholder="{{'product.form.placeholders.offerMaxQuantity'|translate}}">
            <!--<label *ngIf="ProductForm.get('prodName').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>-->
            <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->

          </div>
          <div class="form-group">
            <label for="offerMaxQuantity">{{"product.form.controls.offerProducts"|translate}}</label>
            <input type="number" formControlName="offerProducts" class="form-control"
                   id="offerProducts" placeholder="{{'product.form.placeholders.offerProducts'|translate}}">
            <!--<label *ngIf="ProductForm.get('prodName').invalid && processValidation" class="text-danger">{{'product.form.validations.blank'|translate}}</label>-->
            <!--<label *ngIf="nameError" [ngClass]="'text-danger'">{{'product.form.errors.prodName'|translate}}</label>-->

          </div>
        </div>
        <div class="form-group">
          <label for="description">{{"product.form.controls.desc"|translate}}</label>
          <textarea class="form-control" id="description" formControlName="description" rows="4"
                    placeholder="{{'product.form.placeholders.desc'|translate}}"></textarea>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm submit-col">
        <button *ngIf="newPro" type="submit" [disabled]="submitted" class="btn btn-success">
          {{"staff.buttons.add"|translate}}
        </button>
        <i *ngIf="!ProductForm.invalid&&submitted" class="fa fa-circle-o-notch fa-2x fa-spin spinner-submit"></i>
        <button type="submit" [disabled]="submitted" class=" btn btn-success" *ngIf="!newPro">
        {{"staff.buttons.edit"|translate}}
        </button>
        <button type="button" routerLink="/products/list" [disabled]="submitted" class="btn btn-action" *ngIf="!newPro">
        {{"staff.buttons.back"|translate}}
        </button>
      </div>
    </div>
  </div>

</form>
