<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<input class="form-control search-box" type="text" (keyup)="filterBox($event)"-->
<!--placeholder="{{'staff.search'|translate}}....">-->
<!--</div>-->
<!--</div>-->
<table class="table table-bordered table-striped ">

  <thead>
    <tr class="">
      <td class="title-td" align="center" colspan="7">
        <div class="filter-sec">
          <select (change)="setState($event)" class="form-control" id="areas">
            <option *ngFor="let oneState of statues" [selected]="oneState.value == statuesFilter" [value]="oneState.value">
              {{oneState.view|translate}}
            </option>
          </select>

        </div>
      </td>
    </tr>
    <tr>
      <th (click)="orderByShomeName()" class="clickable-th">
        {{"coupon.form.controls.shopName"|translate}}
        <i [ngClass]="shopNameOrderDir === undefined? '' : (shopNameOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')" class="fa-sort fa "></i>
      </th>
      <th (click)="orderByCode()" class="clickable-th">
        {{"coupon.form.controls.code"|translate}}
        <i [ngClass]="codeOrderDir === undefined? '' : (codeOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')" class="fa-sort fa "></i>
      </th>
      <th (click)="orderByOwner()" class="clickable-th">
        {{"coupon.form.controls.owner"|translate}}
        <i [ngClass]="ownerOrderDir === undefined? '' : (ownerOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')" class="fa-sort fa "></i>
      </th>

      <th (click)="orderByValue()" class="clickable-th">
        {{"coupon.form.controls.value"|translate}}
        <i [ngClass]="valueOrderDir === undefined? '' : (valueOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')" class="fa-sort fa "></i>
      </th>
      <th (click)="orderByExpire()" class="clickable-th">
        {{"coupon.form.controls.expireDate"|translate}}
        <i [ngClass]="expireOrderDir === undefined? '' : (expireOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')" class="fa-sort fa "></i>
      </th>
      <th (click)="orderByStatus()" class="clickable-th">
        {{"coupon.form.controls.status"|translate}}
        <i [ngClass]="statusOrderDir === undefined? '' : (statusOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')" class="fa-sort fa "></i>

      </th>
      <th>
        {{"staff.actions"|translate}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coupon of allCoupon">
      <td>{{coupon.shopName}}</td>
      <td>{{coupon.code}}</td>
      <td>{{coupon.userId}}</td>
      <td>{{coupon.value}}<span *ngIf="coupon.type=='percent'">%</span></td>
      <td>{{c.formatDate(coupon.expireDate)}}</td>

      <td><span [ngClass]="coupon.status=='available'? 'badge-success' : 'badge-danger'" class="badge ">{{"coupon.status."
          + coupon.status|translate}}</span>
      </td>
      <td>
        <button (click)="editCoupon(coupon.id)" class="btn btn-primary" type="button">{{"staff.buttons.edit"|translate}}
        </button>
        <!--<button class="btn btn-danger" type="button" (click)="deleteCoupon(coupon.id)">-->
        <!--{{"coupon.buttons.delete"|translate}}-->
        <!--</button>-->
      </td>
    </tr>
    <!--[ngClass]="element.operation=='-' ? 'amount-withdraw' : 'amount-deposit'"-->
  </tbody>
</table>
<div class="row" [hidden]="spinnerFlag">
  <pagination [totalItems]="couponCount" [itemsPerPage]="pages" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="7" [rotate]="false"
    [boundaryLinks]="true"></pagination>
  <div class="per-page-sec">
    <span>{{"client.perPage"|translate}}</span>
    <input id="perpage" class="form-control" type="number" (change)="changepages($event)" [value]="pages">
  </div>

</div>
