<div *ngIf="isSpinnerVisible" id="http-loader">
    <div class="loader-bg">
        <!--sk-cube-grid-->
        <div *ngIf="spinner === Spinkit.skCubeGrid" [class.colored]="!backgroundColor" class="sk-cube-grid">
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube1"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube2"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube3"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube4"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube5"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube6"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube7"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube8"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube9"></div>
        </div>
        <!--sk-rotating-plane-->
        <div *ngIf="spinner === Spinkit.skRotatingPlane" [style.background-color]='backgroundColor'
             class="sk-rotating-plane colored-parent"></div>
        <!--sk-double-bounce-->
        <div *ngIf="spinner === Spinkit.skDoubleBounce" [class.colored]="!backgroundColor" class="sk-double-bounce">
            <div [style.background-color]='backgroundColor' class="double-bounce1"></div>
            <div [style.background-color]='backgroundColor' class="double-bounce2"></div>
        </div>
        <!--sk-wave-->
        <div *ngIf="spinner === Spinkit.skWave" [class.colored]="!backgroundColor" class="theme-loader">
            <!--<div class="sk-rect sk-rect1" [style.background-color]='backgroundColor'></div>-->
            <!--<div class="sk-rect sk-rect2" [style.background-color]='backgroundColor'></div>-->
            <!--<div class="sk-rect sk-rect3" [style.background-color]='backgroundColor'></div>-->
            <!--<div class="sk-rect sk-rect4" [style.background-color]='backgroundColor'></div>-->
            <!--<div class="sk-rect sk-rect5" [style.background-color]='backgroundColor'></div>-->
            <!-- Pre-loader start -->
            <div class="ball-scale">
                <div class='contain'>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                    <div class="ring">
                        <div class="frame"></div>
                    </div>
                </div>
            </div>
            <!-- Pre-loader end -->

        </div>
        <!--sk-wandering-cubes-->
        <div *ngIf="spinner === Spinkit.skWanderingCubes" [class.colored]="!backgroundColor" class="sk-wandering-cubes">
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube1"></div>
            <div [style.background-color]='backgroundColor' class="sk-cube sk-cube2"></div>
        </div>
        <!--sk-spinner-pulse-->
        <div *ngIf="spinner === Spinkit.skSpinnerPulse" [style.background-color]='backgroundColor'
             class="sk-spinner sk-spinner-pulse colored-parent"></div>
        <!--sk-chasing-dots-->
        <div *ngIf="spinner === Spinkit.skChasingDots" [class.colored]="!backgroundColor" class="sk-chasing-dots">
            <div [style.background-color]='backgroundColor' class="sk-child sk-dot1"></div>
            <div [style.background-color]='backgroundColor' class="sk-child sk-dot2"></div>
        </div>
        <!--sk-three-bounce-->
        <div *ngIf="spinner === Spinkit.skThreeBounce" [class.colored]="!backgroundColor" class="sk-three-bounce">
            <div [style.background-color]='backgroundColor' class="sk-child sk-bounce1"></div>
            <div [style.background-color]='backgroundColor' class="sk-child sk-bounce2"></div>
            <div [style.background-color]='backgroundColor' class="sk-child sk-bounce3"></div>
        </div>
        <!-- material-line -->
        <div *ngIf="spinner === Spinkit.skLine" [class.colored]="!backgroundColor" class="sk-line-material">
            <div [style.background-color]='backgroundColor' class="sk-child sk-bounce1"></div>
        </div>

    </div>
</div>
