<form [formGroup]="form"  (submit)="onSubmit()">
  <div *ngFor="let field of fields"  >
    <div *ngIf="show(field)" [ngSwitch]="field.type">
      <div class="form-check" *ngSwitchCase="'checkbox'" style="margin: 10px 0px 20px">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" [formControlName]="field.name" value=""[id]="field.name">
          <label class="custom-control-label" [for]="field.name">{{field.title | translate }}</label>
        </div>
        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
      <div  *ngSwitchCase="'radio'" style="margin: 10px 0px 20px">
        <div *ngFor="let ch of field['choices']" class="custom-control custom-radio custom-control-inline">
          <input type="radio" [id]="field.name+ch.label" [name]="field.name" [formControlName]="field.name" class="custom-control-input" [value]="ch.value">
          <label class="custom-control-label" [for]="field.name+ch.label">{{ch.label}}</label>
        </div>
        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
      <div class="form-group" *ngSwitchCase="'checkbox2'" style="margin: 10px 0px 20px">
        <nb-checkbox [formControlName]="field.name" >{{field.title | translate}}</nb-checkbox>

        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
      <div class="form-group" *ngSwitchCase="'file'" style="margin: 10px 0px 20px">
        <label [attr.for]="field.name">{{field.title | translate}}</label>
        <file-input [formControlName]="field.name" ></file-input>
        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
      <div class="form-group" *ngSwitchCase="'selectApi'" style="margin: 10px 0px 20px">
        <label [attr.for]="field.name">{{field.title | translate}}</label>
          <my-select [field]="field" #ms="mySelect">
            <ng-select [placeholder]="field.title | translate" [items]="ms.items" [bindLabel]="field.label" [bindValue]="field.value" [formControlName]="field.name" [multiple]="field.multiple" [virtualScroll]="true"></ng-select>
          </my-select>
        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
      <div class="form-group" *ngSwitchCase="'selectWithData'" style="margin: 10px 0px 20px">
        <label [attr.for]="field.name">{{field.title | translate}}</label>
        <select-with-data [field]="field" [formControlName]="field.name"></select-with-data>
        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
      <div class="form-group" *ngSwitchCase="'date'">
        <label [attr.for]="field.name">{{field.title | translate}}</label>
        <date-picker-component [formControlName]="field.name"></date-picker-component>
        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
      <div class="form-group" *ngSwitchDefault>
        <label [attr.for]="field.name">{{field.title | translate}}</label>
        <input [attr.type]="field.type" class="form-control" [attr.id]="field.name" [attr.placeholder]="field.title | translate" [formControlName]="field.name">
        <error-message [validators]="field.validators" [control]="form.controls[field.name]"></error-message>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-info" *ngIf="!isUpdate" [disabled]="form.invalid && isSubmited" (click)="isMultiple=true">add multiple</button>
  <button type="submit" class="btn btn-success" [disabled]="form.invalid && isSubmited" (click)="isMultiple=false;1">Submit and back</button>
</form>
