<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<input class="form-control search-box" type="text" (keyup)="filterBox($event)"-->
<!--placeholder="{{'staff.search'|translate}}....">-->
<!--</div>-->
<!--</div>-->
<table class="table table-bordered table-striped ">

  <thead>
    <!-- <tr class="">
      <td class="title-td" align="center" colspan="7">
        <div class="filter-sec">
          <select (change)="setState($event)" class="form-control" id="areas">
            <option *ngFor="let oneState of statues" [selected]="oneState.value == statuesFilter" [value]="oneState.value">
              {{oneState.view|translate}}
            </option>
          </select>

        </div>
      </td>
    </tr> -->
    <tr>
      <th (click)="orderByName()" class="clickable-th">
        {{"level.form.controls.nameAr"|translate}}
        <i [ngClass]="nameOrderDir === undefined? '' : (nameOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')"
          class="fa-sort fa "></i>
      </th>
      <th (click)="orderByLimit()" class="clickable-th">
        {{"level.form.controls.limit"|translate}}
        <i [ngClass]="limitOrderDir === undefined? '' : (limitOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')"
          class="fa-sort fa "></i>
      </th>
      <th (click)="orderByClintType()" class="clickable-th">
        {{"level.form.controls.clientType"|translate}}
        <i [ngClass]="clintTypeOrderDir === undefined? '' : (clintTypeOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')"
          class="fa-sort fa "></i>
      </th>

      <th (click)="orderByCount()" class="clickable-th">
        {{"level.form.controls.count"|translate}}
        <i [ngClass]="countOrderDir === undefined? '' : (countOrderDir ? 'fa-sort-desc' : 'fa-sort-asc')"
          class="fa-sort fa "></i>
      </th>
      <th>
        {{"staff.actions"|translate}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let level of allLevel">
      <td>{{level.nameAr}}</td>
      <td>{{level.limit}}</td>
      <td>
        {{"level.form.controls.clientTypes."+level.clientType|translate}}
      </td>
      <td>{{level.count}}</td>

      <td>
        <button (click)="editLevel(level.id)" class="btn btn-primary" type="button">{{"staff.buttons.edit"|translate}}
        </button>
        <!--<button class="btn btn-danger" type="button" (click)="deleteCoupon(coupon.id)">-->
        <!--{{"coupon.buttons.delete"|translate}}-->
        <!--</button>-->
      </td>
    </tr>
    <!--[ngClass]="element.operation=='-' ? 'amount-withdraw' : 'amount-deposit'"-->
  </tbody>
</table>
<div class="row" [hidden]="spinnerFlag">
  <pagination [totalItems]="levelCount" [itemsPerPage]="pages" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="7"
    [rotate]="false" [boundaryLinks]="true"></pagination>
  <div class="per-page-sec">
    <span>{{"client.perPage"|translate}}</span>
    <input id="perpage" class="form-control" type="number" (change)="changepages($event)" [value]="pages">
  </div>

</div>
