<section class="login p-fixed d-flex text-center bg-primary common-img-bg" style="direction: rtl;">
    <div class="auth-fluid">
        <div [class]="'row form-control-rtl'">
            <div class="col-sm-12">
                <div class="login-card card-body auth-body">
                    <form #logInForm="ngForm" (submit)="logIn(logInForm)" class="md-float-material">
                        <div class="text-center">
                            <!--<img src="assets/images/auth/logo-dark.png" alt="logo.png">-->
                        </div>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">{{"logIn.SignIn"|translate}}</h3>
                                </div>
                            </div>
                            <hr/>
                            <div class="input-group">
                                <input [placeholder]="'logIn.email'|translate" class="form-control" name="email" ngModel
                                       type="email">
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group">
                                <input [placeholder]="'logIn.password'|translate" class="form-control" name="password" ngModel
                                       type="password">
                                <span class="md-line"></span>
                            </div>

                            <!--<div class="row m-t-25 text-left">-->
                            <!--<div class="col-sm-7 col-xs-12">-->
                            <!--<div class="checkbox-fade fade-in-primary">-->
                            <!--<label>-->
                            <!--<input type="checkbox" value="">-->
                            <!--<span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>-->
                            <!--<span class="text-inverse">{{"logIn.rememberMe"|translate}}</span>-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-5 col-xs-12 forgot-phone text-right">-->
                            <!--<a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                                            type="submit">{{"logIn.Signin"|translate}}</button>
                                </div>
                            </div>
                            <hr/>
                            <!--<div class="row">-->
                            <!--<div class="col-md-10">-->
                            <!--<p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>-->
                            <!--<p class="text-inverse text-left"><b>Your Autentification Team</b></p>-->
                            <!--</div>-->
                            <!--<div class="col-md-2">-->
                            <!--<img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
