<div [@cardClose]="cardClose" [ngClass]="cardClass" class="card {{ fullCard }} {{ cardLoad }}">
    <div *ngIf="title" class="card-header">
        <h5>{{ title }}</h5>
        <span *ngIf="!classHeader">{{ headerContent }}</span>
        <span *ngIf="classHeader">
      <ng-content select=".code-header"></ng-content>
    </span>
        <!-- <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li (click)="this.isCardToggled = !this.isCardToggled" *ngIf="!isCardToggled"><i
                        class="icofont icofont-simple-left"></i></li>
                <li (click)="this.isCardToggled = !this.isCardToggled" *ngIf="isCardToggled"><i
                        class="icofont icofont-simple-right"></i></li>
                <li *ngIf="isCardToggled"><i (click)="fullScreen($event)"
                                             class="icofont icofont-maximize {{ fullCardIcon }} full-card"></i></li>
                <li *ngIf="isCardToggled"><i (click)="toggleCard($event)" cardToggleEvent
                                             class="icofont icofont-minus minimize-card"></i></li>
                <li *ngIf="isCardToggled"><i (click)="cardRefresh($event)"
                                             class="icofont icofont-refresh reload-card"></i></li>
                <li *ngIf="isCardToggled"><i (click)="closeCard($event)" class="icofont icofont-error close-card"></i>
                </li>
            </ul>
        </div> -->
    </div>

    <div [@cardToggle]="cardToggle">
        <div [ngClass]="blockClass" class="card-body">
            <ng-content></ng-content>
        </div>
    </div>
    <div *ngIf="loadCard" class="card-loader"><i class="icofont icofont-refresh rotate-refresh"></i></div>
</div>
