<form (ngSubmit)="onSlideFormSubmit()" [formGroup]="SlideForm" class="slideForm">
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="type">{{"slide.type"|translate}}</label>
                        <select (change)="changeTarget()" [(ngModel)]="slide.type" class="form-control" formControlName="type"
                                id="type">
                            <option *ngFor="let option of types" [value]="option">
                                {{"slide.types." + option|translate}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="slide.type=='external'" class="form-group">
                        <label for="image">{{"slide.form.controls.image"|translate}}</label>
                        <input [(ngModel)]="slide.target" class="form-control" formControlName="target" id="image"
                               placeholder="{{'slide.form.placeholders.image'|translate}}" type="text">
                        <label *ngIf="SlideForm.get('target').invalid&&processValidation "
                               class="text-danger">{{'slide.form.validations.image'|translate}}</label>
                    </div>
                    <!--<label *ngIf="nameError" [ngClass] = "'text-danger'">{{'slide.form.errors.image'|translate}}</label>-->
                </div>
                <div *ngIf="slide.type=='product'" class="form-group">
                    <label for="target">{{"slide.form.controls.product"|translate}}</label>
                    <ng-select (filterInputChanged)="searchProducts($event)" (selected)="productSelected($event)" [(ngModel)]="slide.target"
                               [multiple]="false" [options]="IOproducts" formControlName="target"
                               id="target">
                    </ng-select>
                    <label *ngIf="SlideForm.get('target').invalid&&processValidation "
                           class="text-danger">{{'slide.form.validations.product'|translate}}</label>

                </div>

                <div class="form-group">
                    <label for="status">{{"client.statustext"|translate}}</label>
                    <select [(ngModel)]="slide.status" class="form-control" formControlName="status" id="status">
                        <option *ngFor="let option of statusEnum" [value]="option">
                            {{"client.status." + option|translate}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-offset-3 img-uploader">
                    <div id="preview">
                        <img [src]="imgSrc" alt="">
                    </div>
                    <input #fileInput (change)="onFileChanged($event)" style="display: none" type="file">
                    <button (click)="fileInput.click()" class="select-file btn btn-success" type="button">
                        {{'product.addImg'|translate}}
                    </button>
                    <br>
                    <label *ngIf="imgBlankError"
                           class="text-danger">{{'product.form.validations.imgBlank'|translate}}</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm submit-col">
                <button *ngIf="newSlide" class="btn btn-success"
                        type="submit">{{"staff.buttons.add"|translate}}</button>
                <i *ngIf="!SlideForm.invalid&&submitted" class="fa fa-circle-o-notch fa-2x fa-spin spinner-submit"></i>
                <button *ngIf="!newSlide" [disabled]="submitted" class=" btn btn-success"
                        type="submit">{{"staff.buttons.edit"|translate}}</button>
                <button (click)="goHome()" *ngIf="!newSlide" [disabled]="submitted" class="btn btn-action"
                        type="button">{{"staff.buttons.back"|translate}}</button>
            </div>
        </div>
    </div>
</form>
