<div class="row">
  <div class="col-sm-3">
    <input class="form-control search-box" type="text" onfocus="(this.type='datetime-local')" [(ngModel)]="from"
      placeholder="{{'SupplierOrder.from'|translate}}">



  </div>
  <div class="col-sm-3">
    <input class="form-control search-box" type="text" onfocus="(this.type='datetime-local')" [(ngModel)]="to"
      placeholder="{{'SupplierOrder.to'|translate}}">

  </div>

  <div class="col-sm-6">
    <div class="filter-btns">
      <select class="btn btn-action" [(ngModel)]="reason">
        <option value="1" disabled selected>{{'damaged.form.controls.reason'|translate}}</option>
        <option *ngFor="let option of allReason" [value]="option">
          {{"damaged.reasonList." + option|translate}}
        </option>
      </select>




      <button type="button" (click)="setFilters()" class="btn btn-success">
        {{"abstractProduct.apply"|translate}}
      </button>
      <button type="button" (click)="emptyFields()" class="btn btn-danger">
        {{"abstractProduct.cancel"|translate}}
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped ">
    <thead>
      <tr>
        <th>
          {{"damaged.form.controls.reason"|translate}}


        </th>
        <th class="clickable-th">
          {{"damaged.form.controls.date"|translate}}
        </th>
        <th *ngIf="c.cheachRole('damaged','edit')">
          <!--{{"product.actions"|translate}}-->#
        </th>
      </tr>
    </thead>
    <tbody [hidden]="spinnerFlag" *ngIf="returnedArray!=[]">

      <tr *ngFor="let product of returnedArray">
        <td>{{"damaged.reasonList."+product.reason |translate}}</td>
        <td>{{c.formatDate(product.date)}}</td>
        <td *ngIf="c.cheachRole('damaged','edit')">
          <button type="button" class="btn btn-primary" (click)="editProduct(product.id)">
            {{"client.buttons.edit"|translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-secondary-spinner *ngIf="spinnerFlag"></app-secondary-spinner>
<div [hidden]="spinnerFlag||unpage" class="row">
  <pagination [totalItems]="productsCount" [itemsPerPage]="pages" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="7"
    [rotate]="false" [boundaryLinks]="true"></pagination>
  <div class="per-page-sec">
    <span>{{"client.perPage"|translate}}</span>
    <input id="perpage" class="form-control" type="number" (change)="changepages($event)" [value]="pages">
  </div>

</div>
