<div [ngSwitch]="type">
    <div *ngSwitchCase="'checkbox'" class="form-check" style="margin: 10px 0px 20px">
        <div class="custom-control custom-checkbox">
            <input [(ngModel)]="value" [id]="name" class="custom-control-input" type="checkbox" value="">
            <label [for]="name" class="custom-control-label">{{title}}</label>
        </div>
    </div>
    <div *ngSwitchCase="'radio'" style="margin: 10px 0px 20px">
        <div *ngFor="let ch of field['choices']" class="custom-control custom-radio custom-control-inline">
            <input [(ngModel)]="value" [id]="name+ch.label" [name]="name" [value]="ch.value" class="custom-control-input"
                   type="radio">
            <label [for]="name+ch.label" class="custom-control-label">{{ch.label}}</label>
        </div>
    </div>
    <!--   <div class="form-group" *ngSwitchCase="'file'" style="margin: 10px 0px 20px">
        <span *ngIf="icon!=''&& icon" [class]="icon"></span>
        <label [attr.for]="name">{{title}}</label>
        <file-input [(ngModel)]="value" [extentions]="extentions"></file-input>

      </div> -->
    <!-- <div class="form-group" *ngSwitchCase="'selectApi'" style="margin: 10px 0px 20px">
      <span *ngIf="icon!=''&& icon" [class]="icon"></span>
      <label [attr.for]="name">{{title}}</label>
      <my-select [field]="field" #ms="mySelect">
        <ng-select [placeholder]="title" [items]="ms.items" [bindLabel]="field.label" [bindValue]="field.value" [(ngModel)]="value" [multiple]="field.multiple" [virtualScroll]="true"></ng-select>
      </my-select>
    </div> -->
    <!--   <div class="form-group" *ngSwitchCase="'select'" style="margin: 10px 0px 20px">
        <span *ngIf="icon!=''&& icon" [class]="icon"></span>
        <label [attr.for]="name">{{title}}</label>
        <ng-select [placeholder]="title" [items]="field.items" [bindLabel]="field.label" [bindValue]="field.value" [(ngModel)]="value" [multiple]="field.multiple" [virtualScroll]="true"></ng-select>
      </div> -->
    <!-- <div class="form-group" *ngSwitchCase="'selectWithData'" style="margin: 10px 0px 20px">
      <span *ngIf="icon!=''&& icon" [class]="icon"></span>
      <label [attr.for]="name">{{title}}</label>
      <select-with-data [field]="field" [(ngModel)]="value"></select-with-data>
    </div> -->
    <!-- <div class="form-group" *ngSwitchCase="'date'">
      <span *ngIf="icon!=''&& icon" [class]="icon"></span>
      <label [attr.for]="name">{{title}}</label>
      <date-picker-component [(ngModel)]="value"></date-picker-component>
    </div> -->
    <div *ngSwitchCase="'textArea'" class="form-group">
        <span *ngIf="icon!=''&& icon" [class]="icon"></span>
        <label [attr.for]="name">{{title}}</label>
        <textarea [(ngModel)]="value" [attr.id]="name" [attr.placeholder]="title" [attr.type]="type"
                  class="form-control" style="margin: 2px; width: 100%;"></textarea>
    </div>
    <div *ngSwitchDefault class="form-group">
        <span *ngIf="icon!=''&& icon" [class]="icon"></span>
        <label [attr.for]="name">{{title}}</label>
        <input [(ngModel)]="value" [attr.id]="name" [attr.placeholder]="title" [attr.type]="type" class="form-control">
    </div>
</div>
