<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<input class="form-control search-box" type="text" (keyup)="filterBox($event)"-->
<!--placeholder="{{'staff.search'|translate}}....">-->
<!--</div>-->
<!--</div>-->
<table class="table table-bordered table-striped ">

  <thead>
    <tr>
      <th class="clickable-th">
        {{"complain.form.controls.ownerName"|translate}}
      </th>
      <th class="clickable-th">
        {{"complain.form.controls.prodName"|translate}}
      </th>
      <th (click)="orderByOwner()" class="clickable-th">
        {{"complain.form.controls.date"|translate}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coupon of allComplain">
      <td>{{coupon.user.username}}</td>
      <td>{{coupon.product.nameAr}}</td>
      <td>{{c.formatDate(coupon.createdAt)}}</td>
    </tr>
  </tbody>
</table>
<div class="row" [hidden]="spinnerFlag">
  <pagination [totalItems]="couponCount" [itemsPerPage]="pages" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="7"
    [rotate]="false" [boundaryLinks]="true"></pagination>
  <div class="per-page-sec">
    <span>{{"client.perPage"|translate}}</span>
    <input id="perpage" class="form-control" type="number" (change)="changepages($event)" [value]="pages">
  </div>

</div>
