<!-- Page-header start -->
<div *ngFor="let breadcrumb of breadcrumbs; let last = last" class="">
    <div *ngIf="breadcrumb.status && last" class="page-header card">
        <div *ngIf="last" class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <span *ngFor="let breadcrumb of breadcrumbs; let last = last"><i
                            *ngIf="last" class="icofont {{ breadcrumb.icon }}"></i></span>
                    <div class="d-inline">
                        <span *ngFor="let breadcrumb of breadcrumbs; let last = last" class="d-block"><h4
                                *ngIf="last">{{ breadcrumb.label }}</h4></span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a [routerLink]="'/'">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li *ngFor="let breadcrumb of breadcrumbs;" class="breadcrumb-item">

                            <a [ngClass]="breadcrumb.status === false ? 'not-active': ''"
                               [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
