<form (ngSubmit)="onProductFormSubmit()" [formGroup]="damagedProductForm" class="damagedProductForm">
  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <!-- <div class="form-group">
          <label for="abstracts">{{'damaged.form.controls.abs'|translate}}</label>
          <select class="form-control" formControlName="abstractProductId" id="abstracts">
            <option disabled selected style="display: none" value=""></option>
            <option *ngFor="let absProduct of absProducts" [value]="absProduct.id">
              {{absProduct.nameAr}}
            </option>
          </select>
          <label *ngIf="damagedProductForm.get('abstractProductId').invalid && processValidation"
            class="text-danger">{{'damaged.form.validations.blank'|translate}}</label>

        </div> -->

        <div class="form-group">

          <label for="abstract">{{'damaged.form.controls.abs'|translate}}</label>
          <ng-select [(ngModel)]="abstractProductIds" *ngIf="newPro" [ngModelOptions]="{standalone: true}"
            (filterInputChanged)="searchAbstract($event)" (selected)="productSelected($event)" [multiple]="true"
            [options]="IOAbstractProd" id="abstract">
          </ng-select>
          <div class="row">
            <div class="col-sm">
              <table class="table  table-striped ">
                <tbody>
                  <tr *ngFor="let off of abstractProductTable">
                    <td style="width: 35px">
                      <img *ngIf="off.media" src="{{off.media.thumbnail}}" style="max-width: 34px;max-height: 34px;">
                    </td>
                    <td>{{off.nameAr}}</td>
                    <td style="text-align: center">
                      <span>{{"damaged.form.controls.count"|translate}} </span><input [disabled]="!newPro" [(ngModel)]="off.count"
                        [ngModelOptions]="{standalone: true}" style="max-width: 20%" type="number">
                    </td>

                    <td style="text-align: center">
                      <span class="functions-btn pull-left text-danger" *ngIf="newPro" (click)="removeProduct(off.productAbstractId)"><i
                          class="fa fa-remove fa-lg"></i></span>
                    </td>
                    <!--<td style="text-align: center">-->
                    <!---->
                    <!--</td>-->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-6">

        <div class="form-group">
          <label for="reason">{{"damaged.form.controls.reason"|translate}}</label>
          <select class="form-control" formControlName="reason" id="reason">
            <option *ngFor="let option of allReason" [value]="option">
              {{"damaged.reasonList." + option|translate}}
            </option>
          </select>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="form-group">
          <label for="expireDate">{{"modal.createdAt"|translate}}</label>
          <input class="form-control" formControlName="date" id="expireDate"
            placeholder="{{'modal.createdAt'|translate}}" type="datetime-local">
          <label *ngIf="damagedProductForm.get('date').invalid && submiteddAddBarcode"
            class="text-danger">{{'coupon.form.validations.blank'|translate}}</label>

        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-sm-12">

        <div class="form-group">
          <label for="description">{{"damaged.form.controls.note"|translate}}</label>
          <textarea class="form-control" formControlName="note" id="description"
            placeholder="{{'damaged.form.placeholders.note'|translate}}" rows="6"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm submit-col">
        <button *ngIf="newPro" [disabled]="submitted" class="btn btn-success" type="submit">
          {{"staff.buttons.add"|translate}}
        </button>
        <i *ngIf="!damagedProductForm.invalid&&submitted" class="fa fa-circle-o-notch fa-2x fa-spin spinner-submit"></i>
        <button *ngIf="!newPro" [disabled]="submitted" class=" btn btn-success" type="submit">
          {{"staff.buttons.edit"|translate}}
        </button>
        <button *ngIf="!newPro" [disabled]="submitted" class="btn btn-action" (click)="goProducts()" type="button">
          {{"staff.buttons.back"|translate}}
        </button>
      </div>
    </div>

  </div>

</form>
